{% extends "base" %}
{% block content %}
<div id="content">
    <p>Forgot your password? No worries, you can <a href="/account/password/forgot">get a new one</a>.</p>
    <form action='/login' method='post'>
        <div class="row clear">
            <label for='username'>Username</label>
            <input type='text' name='username' placeholder='username' {% if submitted %}value="{{ submitted['username'] }}"{% endif %} />
        </div>
        <div class="row clear">
            <label for='password'>Password</label>
            <input type='password' name='password' placeholder='password' />
        </div>
        <button type='submit'>Log in</button>
    </form>
</div>
{% endblock %}
