._jsPlumb_connector, ._jsPlumb_endpoint, ._jsPlumb_overlay { z-index: 10; }
.node.selected {
    box-shadow: 0 0 10px #5bf;
}
.node {
    z-index: 100;
    width: 250px;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.node>.name {
    padding: 5px 9px;
    background: rgba(80,80,80,0.9);
    color: #fff;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.item {
    background: #ddd;
    min-height: 18px;
    position: relative;
}
.item .content {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 4px 8px;
}
.item.topic>.content {
    font-weight: bold;
}
.item a {
    color: #222;
    text-decoration: none;
}
.item a:hover {
    color: #666;
}

.attrs{
    position: absolute;
    top: 0; right: 0;
    padding: 6px 8px;
    overflow: hidden;
    background: #fafafa;
    font-size: 9px;
    font-weight: bold;
    color: #666;
}
.attrs span { margin-left: 5px; }
.actions{
    position: absolute;
    top: 0; right: 0;
    padding: 6px 8px;
    display: none;
    overflow: hidden;
}
div:hover>.actions { display: block; }
.actions a {
    margin-left: 5px;
    font-weight: bold;
    padding: 0 3px;
    display: inline-block; 
}
.item>.actions a {
    background: #f0f0f0;
}
.node>.actions a { color: #bbb; }

form {
    border-top: 1px solid #ddd;
    background: #eee;
    padding: 4px 8px;
}
.item>form.new_child { margin-left: 20px; }
form input {
    background: #eee;
    width: 100%;
    border: none;
    outline: none;
    font: inherit;
    color: #666;
}

.children {
    padding-left: 20px;
}
.node>.children {
    max-height: 400px;
    overflow-y: scroll;
    position: relative;
    padding-left: 0;
}
.scroller {
    width: 100%;
    height: 10px;
    background: rgba(200,0,0,0.3);
    position: absolute;
    z-index: 500;
}
.scroller.top { background: url('/images/top_shadow.png') repeat-x; }
.scroller.bottom { background: url('/images/bottom_shadow.png') repeat-x; margin-top: -10px; }

form { display: none; }
