<!doctype html>
<html>
<head>
    <title>inferen</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/fonts/warnock.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    {% block extrahead %}
    {% endblock %}
</head>
<body>
<div id="main">
    <div id="title">
        <h1><a href="/"><span>inferen</span></a></h1>
    </div>
    <div id="messages">
        {% for message in messages %}
        <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
    <div id="errors">
        {% for error in errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    {% block main %}
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    {% endblock %}
    <div id="footer">
        inferen was created in <strong>2012</strong> by <a href="http://sprobertson.com/">Sean Robertson</a>
    </div>
</div>
</body>
</html>
