{% extends "base" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="row">
    <div class="span8">
        <form action="/signup" method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="name">Full Name</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="name" id="name" placeholder="Full Name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="email" id="email" placeholder="Email" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" name="password" id="password" placeholder="Password" />
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Sign up</button>
            </div>
        </form>
    </div>
    <div class="span4">
        <p class="alert alert-message">An administrator will verify your account and send instructions to log in.</p>
    </div>
</div>
{% endblock %}
